---
layout: splash
permalink: /
title: "Eat &#38; Sleep Well"
excerpt: "Discover Amazing Food and <br> People Around the World"
header:
  overlay_image: /assets/images/bg.jpg
  overlay_filter: rgba(139, 134, 163, 0.3)
  cta_label: "Learn More"
  cta_url: /about/

intro:
  - title: 'Taste of a City'

feature_row:
  - image_path: /assets/images/osaka.jpg
    alt: "Osaka"
    title: "Osaka"
    excerpt: "Japan's Kitchen"
    url: osaka
    btn_label: "Enter"
  - image_path: /assets/images/montreal.jpg
    alt: "Montreal"
    title: "Montreal"
    excerpt: "Smoked Meat & Cohen"
    url: montreal
    btn_label: "Enter"
  - image_path: /assets/images/chicago.jpg
    alt: "Chicago"
    title: "Chicago"
    excerpt: "Deep Deep Chicago Blues"
    url: chicago
    btn_label: "Enter"
  - image_path: /assets/images/kyoto.jpg
    alt: "Kyoto"
    title: "Kyoto"
    excerpt: "Murakami's Birthplace"
    url: kyoto
    btn_label: "Enter"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


         